@import "tailwindcss";
@import "@nuxt/ui";
/* @import './fonts.css'; */

/* nuxt ui */
:root {
  --ui-radius: 4px;
}

/* custom themes */
@theme {
  --color-white: #f1fbe8;
  --color-black: #090d06;
  --color-main: #a9ff5c;
  --color-main-hover: #7fd136;
  --color-main-light: #e1ffc7;
  --color-main-10: #1f2b15;
  --color-main-dark: #356905;
  --color-orange-light: #ffc295;
  --color-yellow-light: #ffe27d;
  --color-orange-dark: #602606;
  --color-yellow-dark: #564801;
  --color-green-dark-1: #003800;
  --color-green-dark-2: #002d00;
  --color-gray-60: #979f90;
  --ui-primary: var(--color-main);

  /* fonts */
  --font-family: 'TT Travels';
  --font-second-family: 'Futura PT Cond Extra';

  /* font sizes */
  --text-tiny: 10px;

  /* margins */
  --spacing-4.5: 18px;
  --spacing-7.5: 30px;
  --spacing-15: 60px;
  --spacing-45: 180px;

  /* shadow */
  --shadow-modal: 0px -4px 18px 0px #0000000F;

  /* sizes */
  --xs: 450px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
  /* breakpoint */
  --breakpoint-xs: 450px
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-black);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* container */
.container {
  width: 100%;
  max-width: var(--xl);
  margin: 0 auto;
  padding: 0 20px;

}

@media (max-width: 1440px) {
  .container {
    max-width: var(--xl);
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: var(--lg);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: var(--md);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: var(--sm);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
    max-width: var(--xs);
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 100%
  }
}


/* custom scrolbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-track {
  background-color: var(white);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-main);
}

